@import (reference) 'main.less';

/* overwrite */

.ngdialog.ngdialog-theme-default {
	.ngdialog-overlay {
		background: rgba(0, 0, 0, 0.7);
	}

	.ngdialog-content {
		background-color: @light-gray;
		box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
		padding: 0;
		text-align: left;
		width: 600px;
	}

	.ngdialog-close {
		position: absolute;
		top: -16px;
		right: -16px;
		&:before {
			background-color: @darker-gray;
			border-radius: 20px;
			line-height: 28px;
			border: 2px solid #fff;
		}
	}

	.header {
		background-color: #fff;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		font-weight: bold;
		padding: 20px;
	}
	.body {
		font-size: 15px;
		padding: 25px 20px;
		> div {
			margin-bottom: 20px;
		}
		label {
			font-weight: 600;
		}
		label,
		input {
			width: 100%;
		}
		transition: all 250ms ease-in-out;
	}

	.first,
	.last {
		width: 270px;
		display: inline-block;
	}
	.last {
		float: right;
	}

	.fa {
		padding: 0px 4px;
	}
}
