/* overwrite */
.ngdialog.ngdialog-theme-default .ngdialog-overlay {
  background: rgba(0, 0, 0, 0.7);
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  background-color: #f9f7f3;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
  padding: 0;
  text-align: left;
  width: 600px;
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
  position: absolute;
  top: -16px;
  right: -16px;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background-color: #605B5B;
  border-radius: 20px;
  line-height: 28px;
  border: 2px solid #fff;
}
.ngdialog.ngdialog-theme-default .header {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  padding: 20px;
}
.ngdialog.ngdialog-theme-default .body {
  font-size: 15px;
  padding: 25px 20px;
  transition: all 250ms ease-in-out;
}
.ngdialog.ngdialog-theme-default .body > div {
  margin-bottom: 20px;
}
.ngdialog.ngdialog-theme-default .body label {
  font-weight: 600;
}
.ngdialog.ngdialog-theme-default .body label,
.ngdialog.ngdialog-theme-default .body input {
  width: 100%;
}
.ngdialog.ngdialog-theme-default .first,
.ngdialog.ngdialog-theme-default .last {
  width: 270px;
  display: inline-block;
}
.ngdialog.ngdialog-theme-default .last {
  float: right;
}
.ngdialog.ngdialog-theme-default .fa {
  padding: 0px 4px;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  background: #f0eeea;
}
body {
  background: #f8f7f3;
  color: #36322d;
  font-size: 16px;
  text-align: center;
}
header,
section,
aside {
  text-align: left;
}
header h1,
section h1,
aside h1 {
  font-size: 30px;
}
header h3,
section h3,
aside h3 {
  font-size: 20px;
}
.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0 4px;
}
header {
  background: #4489b3 url('../images/bg.jpg');
  background-position: center center;
  background-size: cover;
  color: #fff;
}
header * {
  box-sizing: border-box;
}
header > .title {
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0 4px;
  height: 120px;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  padding: 20px;
  width: 100%;
}
header > .title > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0 4px;
}
.breadcrumbs {
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0 4px;
  height: 30px;
  padding: 5px 10px;
}
.breadcrumbs .crumb {
  display: inline-block;
}
.breadcrumbs .crumb:not(.current) {
  color: #e6ecec;
}
.breadcrumbs .crumb:not(.current):after {
  content: '';
  background: url(../images/caret.png);
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 10px;
  width: 20px;
}
.breadcrumbs .crumb:not(.current) .short-title {
  cursor: pointer;
}
.breadcrumbs .crumb:not(.current) .short-title:hover {
  text-decoration: underline;
}
.breadcrumbs .crumb.current {
  font-weight: bold;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
img,
.btn {
  margin: 10px 0px;
}
section,
aside {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.4);
  margin: 20px 10px;
  padding: 5px 15px;
}
section.dark,
aside.dark {
  background: #f0eeea;
}
footer {
  background: #f0eeea;
  font-size: 14px;
  padding-top: 25px;
  min-height: 100px;
}
footer > span {
  margin: 0px 9px;
}
a,
.link {
  color: #03678b;
  cursor: pointer;
  text-decoration: none;
  transition: color 100ms linear;
}
a:hover,
.link:hover {
  color: #022339;
}
a.underlined,
.link.underlined {
  text-decoration: underline;
}
input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 30px;
  outline: none;
  padding: 5px;
}
.input-group .errMsg {
  display: none;
}
.input-group .errMsg:before {
  content: '\f071';
  font-family: FontAwesome;
  padding: 0px 4px;
}
.input-group.error,
.input-group.error input {
  color: #df2a34;
  border-color: #df2a34;
}
.input-group.error .errMsg {
  display: inline-block;
}
.column {
  display: inline-block;
  vertical-align: top;
}
.body-sections {
  width: 770px;
}
.sidebar {
  width: 370px;
}
.sidebar p {
  line-height: 1.5em;
}
.container {
  width: 100%;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.absolute-center-reset {
  position: inherit;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}
.btn {
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0 4px;
  background: #808080;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.075em;
  margin-top: 15px;
  outline: none;
  padding: 15px;
  text-transform: uppercase;
  transition: background 150ms linear;
}
.btn:hover {
  background: #605B5B;
}
.btn.btn-sm {
  padding: 10px 12px;
}
.btn.btn-green {
  background: #b7d749;
}
.btn.btn-green:hover {
  background: #7B9227;
}
.btn.btn-green-alt {
  transition: background 0ms;
  background: #95da5f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #95da5f 0%, #74b845 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #95da5f 0%, #74b845 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #95da5f 0%, #74b845 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95da5f', endColorstr='#74b845', GradientType=0);
  /* IE6-9 */
}
.btn.btn-green-alt:hover {
  background: #74b845;
}

/* CUSTOM */
@media only screen and (max-width: 820px) {
  .body-sections {
    width: 100%;
  }
  header > .title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 720px) {
  .ngdialog.ngdialog-theme-default .ngdialog-close {
    top: 16px;
    right: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .breadcrumbs {
    height: auto;
  }
  header > .title {
    height: auto;
    font-size: 30px;
  }
  .ngdialog.ngdialog-theme-default .first,
  .ngdialog.ngdialog-theme-default .last {
    width: 100%;
  }
  .ngdialog.ngdialog-theme-default .last {
    float: none;
  }
  .breadcrumbs {
    text-align: right;
  }
  .breadcrumbs .crumb {
    display: block;
    margin: 8px 0px;
  }
  .breadcrumbs .crumb:not(.current):after {
    content: '';
    padding: 0;
  }
  .breadcrumbs .crumb.current {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .sidebar {
    width: 100%;
  }
}
