@base-blue: #4489b3;
@dark-blue: #03678b;
@darker-blue: #022339;
@error-red: #df2a34;
@light-gray: #f9f7f3;
@dark-gray: #808080;
@darker-gray: #605B5B;
@olive-green: #b7d749;
@olive-green-dark: #7B9227;
@input-border-color: #cccccc;
@black-font-color: #36322d;
@shadow-color: rgba(0,0,0,0.4);

@header-bg: @base-blue;
@body-bg: #f8f7f3;
@section-bg: #fff;
@footer-bg: #f0eeea;

// reset
html,
body,
p {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	background: @footer-bg;
}

body {
	background: @body-bg;
	color: @black-font-color;
	font-size: 16px;
	text-align: center;
}

header,
section,
aside {
	text-align: left;
	h1 {
		font-size: 30px;
	}
	h3 {
		font-size: 20px;
	}
}

.text-shadow {
	text-shadow: @shadow-color 0px 0 4px;
}

header {
	background: @header-bg url('../images/bg.jpg');
	background-position: center center;
	background-size: cover;
	color: #fff;
	* {
		box-sizing: border-box;
	}
	> .title {
		.text-shadow;
		height: 120px;
		font-size: 50px;
		font-weight: 300;
		text-align: center;
		padding: 20px;
		width: 100%;
		> p {
			.absolute-center;
		}
	}
}

.text-shadow {
	text-shadow: rgba(0,0,0,0.4) 0px 0 4px;
}

.breadcrumbs {
	.text-shadow;
	height: 30px;
	padding: 5px 10px;
	.crumb {
		display: inline-block;
		&:not(.current) {
			color: #e6ecec;
			&:after {
				content: '';
				background: url(../images/caret.png);
				background-position: center center;
				background-repeat: no-repeat;
				display: inline-block;
				height: 10px;
				width: 20px;
			}
			.short-title {
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&.current {
			font-weight: bold;
		}
	}
}

img {
	max-width: 100%;
}

h1,h2,h3,h4 {
	font-weight: 300;
}

h1,h2,h3,h4,
img,
.btn {
	margin: 10px 0px;
}

section,
aside {
	background: @section-bg;
	border-radius: 10px;
	box-shadow: 0px 1px 4px -1px @shadow-color;
	margin: 20px 10px;
	padding: 5px 15px;
	&.dark {
		background: @footer-bg;
	}
}

footer {
	background: @footer-bg;
	font-size: 14px;
	padding-top: 25px;
	min-height: 100px;
	> span {
		margin: 0px 9px;
	}
}

a,
.link {
	color: @dark-blue;
	cursor: pointer;
	text-decoration: none;
	transition: color 100ms linear;
	&:hover {
		color: @darker-blue;
	}
	&.underlined {
		text-decoration: underline;
	}
}

input {
	border: 1px solid @input-border-color;
	border-radius: 4px;
	height: 30px;
	outline: none;
	padding: 5px;
}

.input-group {
	.errMsg {
		display: none;
		&:before {
			content: '\f071';
			font-family: FontAwesome;
			padding: 0px 4px;
		}
	}
	&.error {
		&,
		input {
			color: @error-red;
			border-color: @error-red;
		}
		.errMsg {
			display: inline-block;
		}
	}
}

.column {
	display: inline-block;
	vertical-align: top;
}

.body-sections {
	width: 770px;
}

.sidebar {
	width: 370px;
	p {
		line-height: 1.5em;
	}
}

.container {
	width: 100%;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.absolute-center-reset {
	position: inherit;
	top: 0; left: 0;
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
}

.btn {
	.text-shadow;
	background: @dark-gray;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.075em;
	margin-top: 15px;
	outline: none;
	padding: 15px;
	text-transform: uppercase;
	transition: background 150ms linear;
	&:hover {
		background: @darker-gray;
	}
	&.btn-sm {
		padding: 10px 12px;
	}
	&.btn-green {
		background: @olive-green;
		&:hover {
			background: @olive-green-dark;
		}
	}
	&.btn-green-alt {
		transition: background 0ms;
		background: #95da5f; /* Old browsers */
		background: -moz-linear-gradient(top, #95da5f 0%, #74b845 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #95da5f 0%,#74b845 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #95da5f 0%,#74b845 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95da5f', endColorstr='#74b845',GradientType=0 ); /* IE6-9 */
		&:hover {
			background: #74b845;
		}
	}
}
