@import (reference) 'main.less';

/* CUSTOM */
@media only screen and (max-width: 820px) {
	.body-sections {
		width: 100%;
	}
	header > .title {
		font-size: 40px;
	}
}

@media only screen and (max-width: 720px) {
	.ngdialog.ngdialog-theme-default {
		.ngdialog-close {
			top: 16px;
			right: 16px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.breadcrumbs {
		height: auto;
	}
	header {
		> .title {
			height: auto;
			font-size: 30px;
		}
	}
	.ngdialog.ngdialog-theme-default {
		.first,
		.last {
			width: 100%;
		}
		.last {
			float: none;
		}
	}
	.breadcrumbs {
		text-align: right;
		.crumb {
			display: block;
			margin: 8px 0px;
			&:not(.current) {
				&:after {
					content: '';
					padding: 0;
				}
			}
			&.current {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 420px) {
	.sidebar {
		width: 100%;
	}
}
