<div class="column body-sections">
  <section>
    <h1>World Conflict. Personal Stories.</h1>
    <p>Throughout history, millions of courageous men and women have served and protected their country in times of conflict. Were your ancestors among them? It's never been easier to find out on Ancestry.com, the world's largest online collection of family history resources, including millions of military records spanning from before the Revolutionary War all the way up to Vietnam.</p>
    <img src="./images/soldiers.jpg" alt="">
    <p>Search through enlightening historical documents from every major U.S. war from the American Revolution through Vietnam, including draft registration cards, veterans' gravesites, soldier pension indexes, enlistment records, muster rolls and more.</p>
    <button class="btn btn-green">search all military records</button>
  </section>
</div>

<div class="column sidebar">
  <aside>
    <h3>Featured Collections</h3>
    <div ng-repeat="collection in featured track by $index">
      <p>
        <a class="link" ng-href="{{collection.id}}" ng-bind="collection.title"></a>
      </p>
    </div>
    <button class="btn">see all collections</button>
  </aside>

  <aside class="dark">
    <h3>Let us help you discover your story</h3>
    <p>Begin your free family tree with a few simple facts. We'll help you discover a lot more. Start your tree by subscribing for a free trial.</p>
    <button class="btn" ng-click="openSubscribe()">subscribe today</button>
  </aside>
</div>
