<div class="header">
Subscribe Today
</div>
<div class="body">
	<div class="body" ng-if="done"><h1>Thanks for subscribing!</h1></div>
	<div ng-hide="done">
		<form name="form" ng-submit="subscribe(form)" novalidate="">
			<div class="input-group first" ng-class="{'error': showErrors && !form.firstname.$valid}">
				<label for="firstname">
					Your first name
					<span class="errMsg">Required</span>
				</label>
				<input required type="text" name="firstname" ng-model="first" />
			</div>
			<div class="input-group last" ng-class="{'error': showErrors && !form.lastname.$valid}">
				<label for="lastname">
					Your last name
					<span class="errMsg">Required</span>
				</label>
				<input required type="text" name="lastname" ng-model="last" />
			</div>
			<div class="input-group email" ng-class="{'error': showErrors && !form.email.$valid}">
				<label for="email">
					Your email
					<span class="errMsg">A valid email is required</span>
				</label>
				<input required type="email" name="email" ng-model="email" />
			</div>
			<button class="btn btn-sm btn-green-alt">get started</button>
		</form>
		<p>By creating an account, you agree to <a href="#" class="underlined">Ancestry Terms and Conditions</a> and understand that your information will be used in accordance with our <a href="#" class="underlined">Privacy Statement</a>, including that we will send you emails about our service and special offers.</p>
	</div>
</div>